<!-- Header -->
<header id="header">
  <div class="inner">
    <a routerLink="/" class="logo"><img src="../images/logo_costureira.png"></a>
    <nav id="nav">
        
      <a routerLink="/home">Home</a>
      <a routerLink="/costureiras">Costureiras</a>
      <a routerLink="/clientes">Clientes</a>
      <a routerLink="/servicos">Serviços</a>
      <a routerLink="/ferramentas">Ferramentas</a>
      <a routerLink="/contato">Contato</a>
    </nav>
  </div>
</header>

<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>