<!-- Main -->
<section id="main">
	<div class="inner">
		<header class="major special">
			<h1>Contato</h1>
		</header>
		<!-- Form -->
		<section>
			<form method="post" action="#">
				<div class="row uniform 50%">
					<div class="6u 12u$(xsmall)">
						<input type="text" name="nome" id="demo-name" value="" placeholder="Nome" />
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input type="email" name="email" id="demo-email" value="" placeholder="E-mail" />
					</div>
					<div class="12u$">
						<textarea name="msn" id="demo-message" placeholder="Insira sua Mensagem" rows="6"></textarea>
					</div>
					<div class="12u$">
						<ul class="actions">
							<li>
								<input type="submit" value="Enviar" class="special" />
							</li>
							<li>
								<input type="reset" value="Limpar" />
							</li>
						</ul>
					</div>
				</div>
			</form>
		</section>
	</div>
</section>